.cards {
  border: 1px solid #000000;
  width: fit-content;
  box-shadow: 5px 10px #242525;
  text-align: center;
  background-color: #242525;
  border-radius: 8px;
  margin: auto;
  width: 400px;
  height: 200px;
}

.card-img img {
  padding: 15px 15px;
  width: 40%;
  float: left;
}

.card-main p {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}
.card-name p {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}
.card-duration p {
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
}

.btn button {
  background-color: #6bcb77;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 10px 20px;
  width: 160px;
  border-radius: 6px;
  font-size: 15px;
  /*  */
}

.btn button:hover {
  opacity: 0.9;
}

.btn .btn-deselect {
  background-color: #ed2812;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 10px 20px;
  width: 160px;
  border-radius: 6px;
  font-size: 15px;
  /*  */
}

.btn .btn-deselect:hover {
  opacity: 0.9;
}
