.top {
  height: 350px;
}
.card {
  margin-bottom: 30px;
}

.title h1 {
  color: rgba(255, 255, 255, 0.277);
}

.form-card label {
  float: left;
  margin-top: 13px;
  color: rgba(255, 255, 255, 0.277);
}
.form-card input {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.form-card button {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  margin-left: 75%;
}
